.container{
    background-color: rgb(255 255 237 / 92%);
    padding: 1px;
    border-right: 3px solid;
    width: 740px;
    height: 559px;
}
.card{
    display: flex;
    width: 699px;
}

.container-article{
    height: 160px;
    width: 235px;
    overflow: hidden;
}
.article{
    background: #e6e6e6;
    margin: 10px;
    flex-basis: 100px;
    margin: 5px;
}

.special-container{
    width: 735px;
    height: 52px;
    overflow-y: scroll;
    margin: 16px;
    position: relative;
    left: -13px;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.special-article{
    font-weight: bold;
}